* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-white: #FFF;
    --color-blue: #3483FA;
    --color-gray: #EDEDED;
    --color-light-gray: #F5F5F5;
    --color-dark-gray: #888;
}
.fw-4{font-weight: 400 !important;}
.fw-5{font-weight: 500 !important;}
.fw-6{font-weight: 600 !important;}
.fw-7{font-weight: 700 !important;}
.fw-8{font-weight: 800 !important;}