* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-white: #FFF;
    --color-blue: #3483FA;
    --color-gray: #EDEDED;
    --color-light-gray: #F5F5F5;
    --color-dark-gray: #888;
    --color-borders: #DDD;
}
.fw-4{font-weight: 400 !important;}
.fw-5{font-weight: 500 !important;}
.fw-6{font-weight: 600 !important;}
.fw-7{font-weight: 700 !important;}
.fw-8{font-weight: 800 !important;}

.fz-7{font-size: .7rem !important;}
.fz-8{font-size: .8rem !important;}
.fz-9{font-size: .9rem !important;}
.fz-10{font-size: 1rem !important;}
.fz-11{font-size: 1.1rem !important;}
.fz-12{font-size: 1.2rem !important;}

.modal-content{ background-color: var(--color-light-gray) !important; }

.no-shadow{box-shadow: none !important;}
.btn.btn-xs { padding: .20rem .4rem; font-size: .725rem; border-radius: .1rem; }

.disabled-all * a,
.disabled-all * input,
.disabled-all * select,
.disabled-all * textarea,
.disabled-all * button:not([role="tab"]),
.disabled-all * input-key,
.disabled-all * edit-table
{
    pointer-events: none;
    user-select: none;
    background-color: #e9ecef;
    opacity: 1;
}

.card_table_partida
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    grid-auto-rows: auto;
    gap: 2rem;
}
.card_table_partida_container
{
    transition: .3s;
    outline: 1px solid transparent;
    /* height: 5rem; */
    /* display: flex; */
    /* justify-items: center; */
    /* align-items: center; */
    outline: 1px solid #DDD;
}
.card_table_partida_container:hover
{
    box-shadow: 3px 3px 9px 0 #DDD;
    outline: 1px solid #DDD;
}
.card_table_partida_caption
{
    word-break: break-word;
    text-align: center;
}

@media screen and (max-width: 750px) 
{
	.m-card{grid-template-columns: repeat(auto-fill, minmax(80vw, 1fr)) !important;}
	.lbl-d-block{display: block !important;}
	.control-sm-w-100{width: 100% !important;}
	.control-sm-h-100{height: 100% !important;}
	.reset-styles-md{all: revert !important;}
	.d-block-sm{display: block !important;}
}